footer {
  display: flex;
  background-color: #1b1b1b;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  font-weight: 400;
}

footer div {
  margin: 0px auto;
  max-width: 960px;
  padding: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2em;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  /* transform: scaleX(0); */
  transition: transform 0.25s ease 0s;
  color: gray;
}
